.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  margin-inline: auto;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #888;
}

.card__header {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px;
  border-bottom: 2px solid #eee;
}

.card__title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
}

.card__image {
  display: block;
  width: calc(100% + 32px);
  max-width: 100%;
  border-radius: 5px;
  box-shadow: 0 5px 5px #444;
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  width: 100%;
}

.card__btn {
  display: block;
  margin-left: auto;
  width: 100%;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  font-weight: 600;
  background-color: #111;
  color: #fff;
  transition: background-color 0.2s ease;
}

.card__btn:hover {
  background-color: #333;
}
