<div class="container">
  @if (flagDetail()) {
  <section>
    <mat-card class="card" appearance="outlined">
      <mat-card-header class="card__header">
        <mat-card-title class="card__title">{{ flagDetail().name.official }}</mat-card-title>
      </mat-card-header>
      <mat-card-content class="card__content">
        <img mat-card-image class="card__image" [src]="flagDetail().flags.png" [alt]="flagDetail().flags.alt || flagDetail().name.official"
        width="400">
        <mat-accordion class="card__accordion">
          <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
            <mat-expansion-panel-header>
              <mat-panel-title> More Details</mat-panel-title>
              <mat-panel-description>
                {{panelOpenState() ? '' : ''}}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p><strong>Capital:</strong> {{ flagDetail().capital }}</p>
            <p><strong>Region:</strong> {{ flagDetail().region }}</p>
            <p><strong>Population:</strong> {{ flagDetail().population | number }}</p>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-content>
      <mat-card-actions>
        <button matButton routerLink="/flags" class="card__btn">Back</button>
      </mat-card-actions>
    </mat-card>
  </section>
  }
</div>