.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  background-color: #ddd;
}

.header__title {
  font-size: 3rem;
}

.header__btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  background-color: #aaa;
  color: #fff; 
  cursor: pointer;
  transition: background-color 0.2s;
  font-size: 24px;
}

.header__btn:hover {
  background-color: #444; 
}


.header__btn mat-icon {
  font-size: 24px;
  line-height: 1;
}


.table {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
  justify-items: center;
  padding: 30px;
}