.table {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards {
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  grid-gap: 30px;
  place-items: center;
}

img {
  max-width: 100%;
}